<nav class="header">
    <a href="/Home/Index" class="header-link">Home</a>
    <a href="/Home/About" class="header-link">About</a>
    <a href="/Home/Contact" class="header-link">Contact</a>
</nav>
<hr />

